@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex; /* Enables Flexbox for the body */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}

.container {
    display: flex; /* Enables Flexbox for the container */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 100%; /* Full width of the viewport */
    height: 100%; /* Full height of the viewport */
}

.qr-code {
    max-width: 300px; /* Maximum width of the QR code image */
    max-height: 300px; /* Maximum height of the QR code image */
}

.image-upload-label {
    border: 2px dashed #ccc;
    display: block;
    padding: 20px;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
}

#imageUpload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

